<html>
head
body{
    background-color:sandybrown;
    }
body{
    background-color:aquamarine;
}   

h1{
color:sandybrown;
font-family:verdana;
font-size:300%
}

p{
color:chartreuse; 
font-size:160%;
}

P{
color:yellowgreen;
font-size:200%
}


</html>
